.main_img {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.serach_class {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  height: auto;
  width: auto;
  position: relative;
  display: flex;
}

.input_but {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.23);
}

.inputField {
  background-color: transparent;
  height: 55px;
  width: -webkit-fill-available;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  font-size: 20px;
  padding: 16px;
}

.inputField:hover {
  border: 2px solid black;
}
.inputField:focus-visible {
  outline: none !important;
  border: 2px solid black;
}

.main_second_ctgrt {
  width: auto;
  height: auto;
}

.sub_main_home {
  width: 100%;
  height: 100%;
}

input {
  caret-color: transparent; /* 기본 상태: 커서 안 보이게 */
}

input:focus {
  caret-color: auto; /* 포커스될 때만 기본 커서 보여주기 */
}

div {
  user-select: none; /* 텍스트 드래그 불가 */
}
